@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}
/*for wrapper*/
.wrapper {
  max-width: 1185px;
  width: 90%;
  margin: 0 auto;
}
/* CSS reset  */
* {
  box-sizing: border-box;
}
/*=================================
  Header styling starts here
=================================*/
header {
  position: relative;
  width: 100%;
  min-height: 783px;
  background: url("../images/2.jpg") no-repeat center/cover;
  overflow: hidden;
}
nav {
  position: absolute;
  top: 2.5%;
  right: 4%;
}
.nav-links {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #838486;
  border: 1px solid transparent;
  padding: 5.5px 11px;
  transition: .3s;
}
.nav-links:hover {
  border-color: #0e0e0e;
}
.head-content {
  width: 36%;
  position: absolute;
  left: 59%;
  top: 37%;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  color: #3c3c3c;
}
.head-content::after {
  content: "";
  background: url(../images/line.png) no-repeat center/cover;
  width: 50%;
  height: 20px;
  position: absolute;
  bottom: -38px;
  left: 50%;
  transform: translateX(-50%);
}
.down-arrow {
  display: inline-block;
  position: absolute;
  bottom: 44px;
  left: 50%;
  transform: translateX(-50%);
}
.down-arrow:hover a {
  transform: rotate(360deg) scale(1.1);
  border-color: #0e0e0e;
}
.down-arrow:hover img {
  filter: invert(0);
}
.down-arrow a {
  width: 40px;
  height: 40px;
  text-indent: -999999px;
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: .4s;
}
.down-arrow img {
  float: right;
  transform: scale(.7);
  filter: invert(1);
}
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/*=================================
  todays-special styling starts here
=================================*/
.todays-special {
  box-sizing: border-box;
  width: 100%;
  height: 457px;
  background-color: #f3c30f;
  display: flex;
  align-items: center;
}
.todays-special ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todays-special li {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 10px;
  box-sizing: border-box;
  text-align: center;
  transition: .5s;
}
.todays-special li:hover {
  transform: scale(1.04);
  box-shadow: 0 0 10px #000;
  border-radius: 10px;
  cursor: pointer;
}
.todays-special li:hover h2 {
  color: #338053;
}
.todays-special li:hover p {
  color: #000;
  text-shadow: 0 0 2px #000;
}
.todays-special figure {
  width: 100px;
  height: 86px;
}
.todays-special img {
  height: 100%;
  filter: opacity(.7);
}
.todays-special h2 {
  font-size: 20px;
  margin: 14px 0;
  text-transform: uppercase;
  color: #3c3c3c;
  font-weight: 500;
}
.todays-special p {
  font-size: 14px;
  color: #3c3c3c;
  letter-spacing: 1px;
}
/*=================================
  todays-special styling ends here
=================================*/
/*=================================
  special styling starts here
  =================================*/
.special {
  padding: 60px 0 176px;
}
.third-heading {
  position: relative;
  color: #767582;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
.third-heading::after {
  content: "";
  background: url(../images/line.png) no-repeat center/cover;
  width: 20%;
  height: 20px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.special .special-content {
  width: 100%;
  margin-top: 88px;
  display: flex;
  flex-wrap: wrap;
}
.special .special-image-box {
  position: relative;
  width: 16.666%;
  height: 190px;
  cursor: pointer;
  overflow: hidden;
}

.special figure {
  height: 100%;
}
.special img {
  height: 100%;
  object-fit: cover;
  transition: .5s;
}
.special .special-image-box:hover img {
  transform: rotate(20deg) scale(1.4);
  opacity: .2;
}
.special .special-image-box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px 5px;
  display: none;
}
.special .special-image-box:hover .content {
  display: block;
}
.special h4 {
  position: relative;
  color: #666666;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 12px;
}
.special h4::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: #666666;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.special p {
  color: #7f8294;
  font-size: 15px;
  line-height: 18px;
  margin: 23px 0 15px;
  font-weight: 400;
  letter-spacing: 1px;
}
.special span {
  color: #8c7f81;
  font-weight: 500;
  letter-spacing: 1px;
}
/*=================================
  special styling ends here
  =================================*/
/*=================================
  about styling starts here
=================================*/
.about {
  position: relative;
  width: 100%;
  height: 700px;
  background: url(../images/header.jpg) no-repeat center/cover;
  display: flex;
  align-items: center;
}
.about-content {
  width: 50%;
  height: 600px;
  padding: 20px 10px;
}
.about-content .third-heading {
  margin: 10px 0 90px;
}
.about-content .third-heading::after {
  width: 45%;
  bottom: -23px;
}
.about-content p {
  font-size: 29px;
  letter-spacing: 1px;
  text-align: center;
  line-height: 38px;
  font-weight: 500;
  color: #767676;
}
.about-content img {
  width: 242px;
  height: 149px;
  float: right;
  clear: both;
  transform: scale(1.5);
  cursor: pointer;
}
/*=================================
  about styling ends here
=================================*/
/*=================================
  Menu styling starts here
=================================*/
.menu {
  padding: 65px 0 10px;
}
.menu .third-heading {
  margin-bottom: 83px;
}
.menu .third-heading::after {
  bottom: -25px;
}
.menu-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-bar a {
  padding: 5px 13px;
  color: #514c4f;
  font-size: 16px;
  border-left: 5px solid transparent;
  transition: .5s;
}
.menu-bar a:hover, .menu-links.active {
  background: #53ffc1;
  color: #000;
  border-color: rgb(255, 0, 0);
  transform: translateY(-10px) rotate(-5deg);
}
.menu-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 45px;
  padding: 5px;
}

.menu-list li {
  width: 48%;
  color: #757678;
  margin-bottom: 40px;
}
.menu-list h5 {
  font-size: 20px;
  text-transform: uppercase;
}
.menu-list span {
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 10px;
}
.menu-list .dot {
  font-size: 19px;
}
/*=================================
  Menu styling ends here
=================================*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/
footer {
  position: relative;
  width: 100%;
  height: 840px;
  background: url(../images/4.jpg) no-repeat center/cover;
  color: #5f6360;
  padding-top: 53px;
}
.footer-top {
  width: 45%;
  height: 673px;
  text-align: left;
  margin-left: auto;
}
.footer-top .third-heading {
  margin-bottom: 85px;
  color: #767676;
}
.footer-top .third-heading::after {
  width: 40%;
  bottom: -26px;
}
.contact-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
}
address {
  font-size: 15px;
}
.address-heading {
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}
.reservations {
  font-size: 15px;
}
.reservations .phone {
  color: #5f6360;
}
h6 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
.form {
  width: 100%;
}
input[type="text"],
input[type="email"],
textarea {
  width: 40%;
  color: #5f6360;
  font-size: 17px;
  padding: 8px 5px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #dddddd;
  outline: none;
  margin: 10px 0 5px;
}
input[type="text"] {
  margin-right: 53px;
}
input[type="submit"] {
  margin-top: 30px;
  display: block;
  height: 50px;
  width: 97px;
  margin: 20px auto 0;
  font-size: 17px;
  background: none;
  border: 1.3px solid #000;
  font-weight: 500;
  color: #111111;
  transition: .5s;
}
input[type="submit"]:hover{
  color:crimson;
  background-color: #aacf54;
  box-shadow: 0 0 5px #fff;
}
textarea {
  width: 100%;
  resize: none;
  height: 200px;
}
.footer-bottom {
  border-top: 1px solid #dddddd;
  width: 100%;
  height: 113px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-bottom img {
  width: 15px;
  height: 15px;
}
.copyrights{
  margin-left: 90px;
}
.copyrights span{
  font-size: 16px;
  font-weight: 300;
}
.copyrights h6 {
  display: inline-block;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 300;
  color: #1F8002; 
}
.social-icons a{
  width: 30px;
  height: 30px;
  border: 1px solid #767676;
  text-align: center;
  color:#767676 ;
  font-size: 20px;
  text-indent: -999999px;
}
.social-icons .fa{
  float: right; 
  width: 30px;
  height: 30px;
  font-size: 20px;
}
/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
}
